
body{
    background: linear-gradient(to right,  rgb(143, 143, 172), rgb(128, 159, 128) , rgb(168, 144, 144));
}
.cont{
    text-align: center;
    margin-top: 3in;

}
.show{
    color: rgb(8, 8, 8);
    font-weight: 800 !important;
    font-size: 52;
}

.increase{
    color: rgb(250, 248, 248);
    background-color: red;
    font-size: 30px;
    margin: 1pc;
    border: none;
    border-radius: 6px;
    padding: 10px;

}
.decrease{
    background-color: green;
    color: rgb(250, 248, 248);
    font-size: 30px;
    margin: 1pc;
    border: none;
    border-radius: 6px;
    padding: 10px;
}
.zero{
    color: rgb(250, 248, 248);
    font-size: 30px;
    background-color: black;
    margin: 1pc;
    border: none;
    border-radius: 6px;
    padding: 10px;
}

.increase:hover{
    background-color: rgb(125, 14, 14);
}
.decrease:hover{
    background-color: rgb(21, 66, 21);
}
.zero:hover{
    background-color: rgb(59, 52, 52);
}